#search {
    margin-top: 45px;
    height: 105px;
}

#search > img, #search > div {
    float: left;
    margin-right: 120px;
}

#search > div > div:first-child {
    background-color: black;
    border: 4px solid #000;
    height: 35px;
}

#search > div > div:first-child > input {
    padding: 7px;
    float: left;
    background-color: #fff;
    width: 360px;
    font-size: 16px;
}

#search > div > div:first-child > button {
    color: #fff;
    float: left;
    font-size: 18px;
    padding: 6px 25px;
}

#search > div > div:last-child {
    margin-top: 10px;
    text-align: center;
}

#search > div:last-child {
    margin: 17px 0 0 0;
}

#search > div:last-child > img, #search > div:last-child > a {
    float: left;
}

#search > div:last-child > a {
    font-size: 16px;
    margin-left: 10px;
}