#main_body {
    margin-bottom: 100px;
}

#logo {
    height: 135px;
}

#logo > img {
    float: left;
}

#logo > img:last-child {
    margin: 40px 0 0 190px;
}

#logo + div {
    padding-left: 80px;
}

.register_input > li {
    height: 31px;
    margin-bottom: 55px;
}

.register_input em {
    font-size: 24px;
}

.register_input > li > span {
    font-size: 24px;
}

.register_input > li > em {
    float: left;
}

.register_input > li > span:first-child {
    display: inline-block;
    width: 100px;
    text-align: center;
    float: left;
}

.register_input > li > span:first-child > em:first-child {
    float: left;
}

.register_input > li > span:first-child > em:last-child {
    float: right;
}

.register_input > li > input {
    float: left;
    border: 1px solid #000;
    font-size: 15px;
    padding: 6px;
    width: 380px;
}

.register_input > li > button {
    float: left;
    margin-left: 5px;
    font-size: 15px;
    padding: 6px 10px;
    background-color: #d41a39;
    color: white;
    width: 100px;
    text-align: center;
    display: inline-block;
}

.register_input .safe {
    float: left;
    margin-left: 5px;
}

.register_input .safe > p {
    margin-top: 12px;
    color: #ff7e00;
    display: inline-block;
    float: left;
    border-top: 7px solid black;
    font-size: 15px;
    width: 67px;
    text-align: center;
}

.register_input .yanzheng {
    float: left;
    width: 150px;
}

.register_input .yanzheng > div {
    float: left;
    margin-left: 15px;
    height: 35px;
    width: 120px;
    background-color: #aaaaaa;
}

.register_input .yanzheng > p {
    float: left;
    font-size: 15px;
    margin: 10px 0 0 15px;
}

#main_body #reg_btn {
    margin: 10px auto;
    display: inline-block;
    padding: 10px 40px;
    font-size: 30px;
    color: white;
    background-color: #d41a39;
    border-radius: 5px;
}