/*标题样式*/
#main_body > div {
    padding: 30px 0;
}

#main_body > div > div:first-child > span {
    color: #d41a39;
    font-size: 20px;
    display: inline-block;
    padding: 5px 30px;
}

#main_body > div > div:first-child > img {
    display: block;
}

/*地址*/
#local_list {
    margin: 20px 0;
}

#local_list > li {
    color: #333232;
    padding: 12px 0 12px 150px;
}

#local_list > li:first-child {
    background-image: url("../img/personal/local.png");
}

#local_list > li > a {
    float: right;
    color: #333232;
    margin-right: 50px;
}

#local_list + button {
    display: inline-block;
    left: 200px;
    position: relative;
    background-color: #e2e2e2;
    padding: 5px 10px;
    border: 1px solid #b0afaf;
}

/*时间*/
#time_mod > div > ul {
    padding: 30px;
}

#time_mod > div > ul > li {
    background-color: #e2e2e2;
    display: inline-block;
    padding: 10px;
    margin-right: 70px;
    border: 1px solid #303030;
}

#time_mod > div > ul > li > span {
    color: #303030;
}

/*确认*/
#queren_mod > div > ul {
    margin-top: 30px;
    padding: 10px 30px 15px;
    border: 1px solid #000;
}

#queren_mod ul span {
    padding: 5px 0;
    display: inline-block;
    width: 150px;
    text-align: center;
}

#queren_mod ul > li {
    position: relative;
}

#queren_mod ul > li > span {
    position: absolute;
}

#queren_mod ul > li > div {
    width: 450px;
    position: relative;
}

#queren_mod ul > li > div > img {
    display: block;
}

#queren_mod ul > li > div > p {
    float: right;
    width: 300px;
    position: absolute;
    left: 150px;
}

#queren_mod > div > div {
    text-align: right;
    border: 1px solid #000;
    border-top: 0;
}

#queren_mod > div > div > span {
    padding: 10px 0;
    display: inline-block;
    width: 150px;
    text-align: center;
}

/*发票*/
#queren_mod > div:first-child + div {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

#queren_mod > div:first-child + div > input {
    border: 1px solid #000;
}

#queren_mod > div:first-child + div > span {
    padding: 8px 10px;
    display: inline-block;
    font-size: 14px;
}

#queren_mod > div:last-child {
    text-align: right;
    margin-top: 30px;
}

#queren_mod > div:last-child > p > span {
    display: inline-block;
    padding: 8px 0;
}

#queren_mod > div:last-child > p > span:last-child {
    text-align: left;
    width: 100px;
    margin-left: 50px;
    color: #d41a39;
}

/**/
#queren_mod + div {
    text-align: right;
}

#queren_mod + div > a {
    font-size: 12px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    color: #d41a39;
}

#queren_mod + div > span {
    margin: 0 30px;
}

#queren_mod + div > button {
    font-size: 24px;
    display: inline-block;
    padding: 5px 30px;
    color: white;
    background-color: #d41a39;
}