/*logo*/
#logo {
    padding: 0 0 80px 0;
    height: 90px;
}

#logo > img, #login > img {
    float: left;
}

#logo > span {
    display: inline-block;
    font-size: 30px;
    padding: 33px 0 0 33px;
}

/*login*/
#login > div {
    display: inline-block;
    width: 440px;
}

#login > div > img {
    display: block;
    margin: 0 auto;
}

/*login-input*/
#login_input {
    padding: 50px 0;
}

#login_input > li {
    padding: 20px 0;
    height: 31px;
}

#login_input > li > span {
    float: left;
    font-size: 24px;
}

#login_input > li > input {
    float: left;
    padding: 6px;
    font-size: 15px;
    width: 340px;
    border: 1px solid #000;
}

#login_input > li > a {
    display: inline-block;
    float: right;
    padding: 20px;
}

#login_input > li > a:hover {
    color: #d41a39;
    text-decoration: underline;
}

#login_input + div {
    text-align: center;
    padding: 10px;
}

#login_input + div > a {
    display: inline-block;
    background-color: #d41a39;
    color: white;
    padding: 15px 30px;
    font-size: 24px;
}