#main_body > div > p {
    padding: 30px 15px 10px;
}

#main_body > #question_list{
    padding: 30px 0;
}
#main_body > #question_list >li{
    padding: 30px 0;
}
#main_body > #question_list >li h3{
    margin: 0 0 10px;
}
#main_body > #question_list >li .ans{
    border: 1px solid #000;
}
#main_body .tip{
    margin-top: 20px;
    color: #d41a39;
}